<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxlg.haoqi.wechatreader.dao.BookReviewInteractionMapper">
  <resultMap id="BaseResultMap" type="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="br_id" jdbcType="CHAR" property="brId" />
    <result column="reader_id" jdbcType="CHAR" property="readerId" />
    <result column="support" jdbcType="TINYINT" property="support" />
    <result column="transpond" jdbcType="TINYINT" property="transpond" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updare_time" jdbcType="TIMESTAMP" property="updareTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, br_id, reader_id, support, transpond, create_time, updare_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_review_interaction
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book_review_interaction
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    insert into book_review_interaction (id, br_id, reader_id, support, 
      transpond, create_time, updare_time
      )
    values (#{id,jdbcType=CHAR}, #{brId,jdbcType=CHAR}, #{readerId,jdbcType=CHAR}, #{support,jdbcType=TINYINT}, 
      #{transpond,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updareTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    insert into book_review_interaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brId != null">
        br_id,
      </if>
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="support != null">
        support,
      </if>
      <if test="transpond != null">
        transpond,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updareTime != null">
        updare_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="brId != null">
        #{brId,jdbcType=CHAR},
      </if>
      <if test="readerId != null">
        #{readerId,jdbcType=CHAR},
      </if>
      <if test="support != null">
        #{support,jdbcType=TINYINT},
      </if>
      <if test="transpond != null">
        #{transpond,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null">
        #{updareTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    update book_review_interaction
    <set>
      <if test="brId != null">
        br_id = #{brId,jdbcType=CHAR},
      </if>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=CHAR},
      </if>
      <if test="support != null">
        support = #{support,jdbcType=TINYINT},
      </if>
      <if test="transpond != null">
        transpond = #{transpond,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null">
        updare_time = #{updareTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    update book_review_interaction
    set br_id = #{brId,jdbcType=CHAR},
      reader_id = #{readerId,jdbcType=CHAR},
      support = #{support,jdbcType=TINYINT},
      transpond = #{transpond,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updare_time = #{updareTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="br_id" jdbcType="CHAR" property="brId" />
    <result column="reader_id" jdbcType="CHAR" property="readerId" />
    <result column="support" jdbcType="TINYINT" property="support" />
    <result column="transpond" jdbcType="TINYINT" property="transpond" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updare_time" jdbcType="TIMESTAMP" property="updareTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, br_id, reader_id, support, transpond, create_time, updare_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_review_interaction
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book_review_interaction
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    insert into book_review_interaction (id, br_id, reader_id, support, 
      transpond, create_time, updare_time
      )
    values (#{id,jdbcType=CHAR}, #{brId,jdbcType=CHAR}, #{readerId,jdbcType=CHAR}, #{support,jdbcType=TINYINT}, 
      #{transpond,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updareTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    insert into book_review_interaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brId != null">
        br_id,
      </if>
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="support != null">
        support,
      </if>
      <if test="transpond != null">
        transpond,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updareTime != null">
        updare_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="brId != null">
        #{brId,jdbcType=CHAR},
      </if>
      <if test="readerId != null">
        #{readerId,jdbcType=CHAR},
      </if>
      <if test="support != null">
        #{support,jdbcType=TINYINT},
      </if>
      <if test="transpond != null">
        #{transpond,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null">
        #{updareTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    update book_review_interaction
    <set>
      <if test="brId != null">
        br_id = #{brId,jdbcType=CHAR},
      </if>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=CHAR},
      </if>
      <if test="support != null">
        support = #{support,jdbcType=TINYINT},
      </if>
      <if test="transpond != null">
        transpond = #{transpond,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null">
        updare_time = #{updareTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReviewInteraction">
    update book_review_interaction
    set br_id = #{brId,jdbcType=CHAR},
      reader_id = #{readerId,jdbcType=CHAR},
      support = #{support,jdbcType=TINYINT},
      transpond = #{transpond,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updare_time = #{updareTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>