<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxlg.haoqi.wechatreader.dao.BookReviewMapper">
  <resultMap id="BaseResultMap" type="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="reader_id" jdbcType="VARCHAR" property="readerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updare_time" jdbcType="TIMESTAMP" property="updareTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    <result column="details" jdbcType="LONGVARCHAR" property="details" />
  </resultMap>
  <sql id="Base_Column_List">
    id, book_id, reader_id, create_time, updare_time, title, parent_id
  </sql>
  <sql id="Blob_Column_List">
    details
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from book_review
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByBookId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from book_review
    where book_id = #{bookId,jdbcType=VARCHAR}
  </select>

  <select id="selectByReaderId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from book_review
    where reader_id = #{readerId,jdbcType=VARCHAR}
  </select>

  <select id="selectByParentId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from book_review
    where parent_id = #{parentId,jdbcType=VARCHAR}
  </select>

  <select id="selectiveBy2Id" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReview" resultMap="ResultMapWithBLOBs">
    select
    id, book_id, reader_id, create_time, updare_time, title, parent_id,details
    from book_review
    where
    <trim suffixOverrides="AND">
      parent_id is NULL AND
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=VARCHAR} AND
      </if>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=VARCHAR} AND
      </if>
    </trim>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book_review
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <delete id="deleteByParentId" parameterType="java.lang.String">
    delete from book_review
    where parent_id = #{parentId,jdbcType=VARCHAR}
  </delete>



  <insert id="insert" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    insert into book_review (id, book_id, reader_id, 
      create_time, updare_time, title, 
      parent_id, details)
    values (#{id,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, #{readerId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updareTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{details,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    insert into book_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updareTime != null">
        updare_time,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="details != null">
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="readerId != null">
        #{readerId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null">
        #{updareTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    update book_review
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null">
        updare_time = #{updareTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    update book_review
    set book_id = #{bookId,jdbcType=VARCHAR},
      reader_id = #{readerId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updare_time = #{updareTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      details = #{details,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.haoqi.wechatreader.pojo.BookReview">
    update book_review
    set book_id = #{bookId,jdbcType=VARCHAR},
      reader_id = #{readerId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updare_time = #{updareTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>