<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlg.haoqi.wechatreader.dao.BookrackMapper" >
  <resultMap id="BaseResultMap" type="com.jxlg.haoqi.wechatreader.pojo.Bookrack" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="book_id" property="bookId" jdbcType="VARCHAR" />
    <result column="reader_id" property="readerId" jdbcType="VARCHAR" />
    <result column="reading_state" property="readingState" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updare_time" property="updareTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, book_id, reader_id, reading_state, create_time, updare_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bookrack
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bookrack
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jxlg.haoqi.wechatreader.pojo.Bookrack" >
    insert into bookrack (id, book_id, reader_id, 
      reading_state, create_time, updare_time
      )
    values (#{id,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, #{readerId,jdbcType=VARCHAR}, 
      #{readingState,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{updareTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.Bookrack" >
    insert into bookrack
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="readerId != null" >
        reader_id,
      </if>
      <if test="readingState != null" >
        reading_state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updareTime != null" >
        updare_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="readerId != null" >
        #{readerId,jdbcType=VARCHAR},
      </if>
      <if test="readingState != null" >
        #{readingState,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null" >
        #{updareTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.Bookrack" >
    update bookrack
    <set >
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="readerId != null" >
        reader_id = #{readerId,jdbcType=VARCHAR},
      </if>
      <if test="readingState != null" >
        reading_state = #{readingState,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updareTime != null" >
        updare_time = #{updareTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.haoqi.wechatreader.pojo.Bookrack" >
    update bookrack
    set book_id = #{bookId,jdbcType=VARCHAR},
      reader_id = #{readerId,jdbcType=VARCHAR},
      reading_state = #{readingState,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updare_time = #{updareTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>