<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlg.haoqi.wechatreader.dao.ChapterMapper" >
  <resultMap id="BaseResultMap" type="com.jxlg.haoqi.wechatreader.pojo.Chapter" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="book_id" property="bookId" jdbcType="VARCHAR" />
    <result column="volume_id" property="volumeId" jdbcType="VARCHAR" />
    <result column="chapter_title" property="chapterTitle" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jxlg.haoqi.wechatreader.pojo.Chapter" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, book_id, volume_id, chapter_title, sequence, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chapter
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByBookIdAndSequ" resultMap="ResultMapWithBLOBs" parameterType="com.jxlg.haoqi.wechatreader.pojo.Chapter"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chapter
    where book_id = #{bookId,jdbcType=VARCHAR}
      AND sequence = #{sequence,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from chapter
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jxlg.haoqi.wechatreader.pojo.Chapter" >
    insert into chapter (id, book_id, volume_id, 
      chapter_title, sequence, create_time, 
      update_time, content)
    values (#{id,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, #{volumeId,jdbcType=VARCHAR}, 
      #{chapterTitle,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.Chapter" >
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="volumeId != null" >
        volume_id,
      </if>
      <if test="chapterTitle != null" >
        chapter_title,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="volumeId != null" >
        #{volumeId,jdbcType=VARCHAR},
      </if>
      <if test="chapterTitle != null" >
        #{chapterTitle,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.Chapter" >
    update chapter
    <set >
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="volumeId != null" >
        volume_id = #{volumeId,jdbcType=VARCHAR},
      </if>
      <if test="chapterTitle != null" >
        chapter_title = #{chapterTitle,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jxlg.haoqi.wechatreader.pojo.Chapter" >
    update chapter
    set book_id = #{bookId,jdbcType=VARCHAR},
      volume_id = #{volumeId,jdbcType=VARCHAR},
      chapter_title = #{chapterTitle,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.haoqi.wechatreader.pojo.Chapter" >
    update chapter
    set book_id = #{bookId,jdbcType=VARCHAR},
      volume_id = #{volumeId,jdbcType=VARCHAR},
      chapter_title = #{chapterTitle,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>