<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlg.haoqi.wechatreader.dao.ResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.jxlg.haoqi.wechatreader.pojo.Resources" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="resources_name" property="resourcesName" jdbcType="VARCHAR" />
    <result column="resources_url" property="resourcesUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resources_name, resources_url, type, parent_id, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from resources
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from resources
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jxlg.haoqi.wechatreader.pojo.Resources" >
    insert into resources (id, resources_name, resources_url, 
      type, parent_id, sort
      )
    values (#{id,jdbcType=CHAR}, #{resourcesName,jdbcType=VARCHAR}, #{resourcesUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.Resources" >
    insert into resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resourcesName != null" >
        resources_name,
      </if>
      <if test="resourcesUrl != null" >
        resources_url,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="resourcesName != null" >
        #{resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="resourcesUrl != null" >
        #{resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.haoqi.wechatreader.pojo.Resources" >
    update resources
    <set >
      <if test="resourcesName != null" >
        resources_name = #{resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="resourcesUrl != null" >
        resources_url = #{resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.haoqi.wechatreader.pojo.Resources" >
    update resources
    set resources_name = #{resourcesName,jdbcType=VARCHAR},
      resources_url = #{resourcesUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>